In [2]:
# MYsql  데이터베이스 연결 설정
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='user1',
    password='user1',
    database='user1_db'
)

cursor=connection.cursor()

In [18]:
# 테이블 생성

# auto_increment 속성을 가진 컬럼은 새로운 데이터가 입력 될 때 자동으로 1씩 증가된 값이 저장

create_table_query = """
CREATE TABLE IF NOT EXISTS customer(
id INT AUTO_INCREMENT PRIMARY KEY,
username VARCHAR(50) NOT NULL,
email VARCHAR(100) NOT NULL,
age INT
)"""

cursor.execute(create_table_query)
connection.commit()

In [19]:
# 컬럼추가
# 이 컬럼은 TIMESTAMP 데이터 타입을 가지며, 기본값으로 현재 타임스탬프가 설정 즉, 새로운 레코드가 삽입될 때 자동으로 현재 시간이 기록됩니다
alter_table_query = "ALTER TABLE customer ADD COLUMN created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP"
cursor.execute(alter_table_query)
connection.commit()

In [13]:
# NOT NULL 제약조건 추가
alter_table_query = "ALTER TABLE customer MODIFY email VARCHAR(100)"
cursor.execute(alter_table_query)
connection.commit()

In [16]:
# 테이블 삭제
drop_table_query = "DROP TABLE IF EXISTS customer"
cursor.execute(drop_table_query)
connection.commit()

In [22]:
# 테이블 입력
insert_query = "INSERT INTO customer (username, email, age) VALUES (%s, %s, %s)"
data = ("john_doe","john@example.com",30)
cursor.execute(insert_query,data)
connection.commit()

In [ ]:
# 데이터 수정
# % => 자리 표시자
update_query = "UPDATE customer SET age = %s WEHRE username =%s"
cursor.execute(update_query, (31,"john_doe"))
connection.commit()

In [28]:
# 테이블 조회
select_query = "SELECT * FROM customer"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

In [ ]:
#  연결 종료
cursor.close()
connection.close()

In [27]:
# 데이터 삭제
delete_query = "DELETE FROM customer WHERE username=%s"
cursor.execute(delete_query,("john_doe"))
connection.commit()

In [29]:
# 데이터 반복 삽입
customers = [
    ("alice","alice@example.com",25),
    ("bob","bob@example.com",28),
    ("charlie","charlie@example.com",22)
]

cursor.executemany(insert_query,customers)
connection.commit()

In [30]:
select_query = "SELECT * FROM customer"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

(3, 'alice', 'alice@example.com', 25, datetime.datetime(2024, 7, 15, 12, 20, 44))
(4, 'bob', 'bob@example.com', 28, datetime.datetime(2024, 7, 15, 12, 20, 44))
(5, 'charlie', 'charlie@example.com', 22, datetime.datetime(2024, 7, 15, 12, 20, 44))

In [32]:
# 결과를 데이터프레임으로 변환
import pandas as pd

column_names = [desc[0] for desc in cursor.description]

df = pd.DataFrame(results, columns=column_names)

print(df)

   id username                email  age          created_at
0   3    alice    alice@example.com   25 2024-07-15 12:20:44
1   4      bob      bob@example.com   28 2024-07-15 12:20:44
2   5  charlie  charlie@example.com   22 2024-07-15 12:20:44

In [33]:
# 데이터프레임을 csv로 저장
df.to_csv('customers.csv',index=False)

In [34]:
# buyer 테이블 생성
create_table_query = """
CREATE TABLE IF NOT EXISTS buyer(
id INT AUTO_INCREMENT PRIMARY KEY,
username VARCHAR(50) NOT NULL,
email VARCHAR(100) NOT NULL,
age INT,
created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP)

"""
cursor.execute(create_table_query)
connection.commit()

In [36]:
# csv 파일 읽어서 데이터베이스에 삽입

import csv

file_path = 'customers.csv'
df = pd.read_csv(file_path)

# 필요한 컬럼만 선택
data_to_insert = df[['username','email','age']].values.tolist()

# sql 쿼리 정의
insert_query = "INSERT INTO buyer (username, email,age) VALUES (%s, %s,%s)"

# db에 삽입
cursor.executemany(insert_query, data_to_insert)
connection.commit()

In [37]:
# 데이터 조회 및  dataframe  변환
select_query = "SELECT * FROM buyer"
cursor.execute(select_query)
results = cursor.fetchall()

column_names = [desc[0] for desc in cursor.description]

# dataframe 으로 변환
df_results = pd.DataFrame(results, columns=column_names)

# dataframe 출력
print(df_results)

# 연결종료
cursor.close()
connection.close()

   id username                email  age          created_at
0   1    alice    alice@example.com   25 2024-07-15 12:40:17
1   2      bob      bob@example.com   28 2024-07-15 12:40:17
2   3  charlie  charlie@example.com   22 2024-07-15 12:40:17